<!DOCTYPE html>
<html>
<head>
    <title>RssReader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/jquerymobile.css" />
</head>
<body>

	  <!--     主页模板   -->
	<script type="text/template" id="home">
	<div class="ui-header ui-bar-a"  data-form="ui-bar-a" data-role="header" data-position="fixed">	
		<a class="ui-btn-left ui-btn-corner-all ui-btn ui-icon-bars ui-btn-icon-notext ui-shadow" data-form="ui-icon" data-role="button" role="button">推荐</a>
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">主页</h1>
		<a class="ui-btn-right ui-btn-corner-all ui-btn ui-icon-gear ui-btn-icon-notext ui-shadow"  data-form="ui-icon" data-role="button" role="button"> 设置 </a>
	</div>
	<div data-role="content">
		<ul data-role="listview" id="channel_list" >
			<% for (var i = 0; i <channel.length; i++) { %>
			<% var item = channel[i]; %>
			<li><a href ="#channel/<%=item.name%>/<%=encodeURIComponent(item.url)%>">
			<%= item.name %></a> </li>
			<% } %>
		</ul>
	</div>
	</script>


	<script type="text/template" id="recommend">
	<div class="ui-header ui-bar-a"  data-form="ui-bar-a" data-role="header" data-position="fixed">	
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">推荐</h1>
		<a class="ui-btn-right ui-btn-corner-all ui-btn ui-icon-back ui-btn-icon-notext ui-shadow"  data-form="ui-icon" data-role="button" role="button"> 返回 </a>
	</div>

     <div data-role="content">

     </div>
	</script>


	<script type="text/template" id="setting">
	<div class="ui-header ui-bar-a"  data-form="ui-bar-a" data-role="header" data-position="fixed">	
	<a class="ui-btn-left ui-btn-corner-all ui-btn ui-icon-back ui-btn-icon-notext ui-shadow"  data-form="ui-icon" data-role="button" role="button"> 返回 </a>
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">设置</h1>
		
	</div>

     <div data-role="content">

     </div>
	</script>


	<script type="text/template" id="feed">
	<div class="ui-header ui-bar-a"  data-form="ui-bar-a" data-role="header" data-position="fixed">	
		<a class="ui-btn-left ui-btn-corner-all ui-btn ui-icon-home ui-btn-icon-notext ui-shadow" data-form="ui-icon" data-role="button" role="button" href="">主页</a>
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">订阅</h1>
		<a class="ui-btn-right ui-btn-corner-all ui-btn ui-icon-refresh ui-btn-icon-notext ui-shadow"  data-form="ui-icon" data-role="button" role="button"> 刷新 </a>
	</div>
	<div data-role="content">
		<ul data-role="listview" id="feed_list" >
		<% for (var i = 0; i <feed.length; i++) { %>

			<% var item = feed[i]; %>
			<li><a href ="#content/<%= item.id %>">
					<h2><%= item.title %></h2>
					<p><strong><%= item.author %></strong></p>
					<p><%= item.contentSnippet %></p>
					<p class="ui-li-aside"><strong>
					<%= moment(new Date(item.publishedDate)).fromNow()%>
					</strong></p>	
				</a> 
			</li>
		<% } %>
		</ul>
	</div>
	</script>




	<script type="text/template" id="content">
	<div class="ui-header ui-bar-a"  data-form="ui-bar-a" data-role="header" data-position="fixed">	
		<a class="back ui-btn-left ui-btn-corner-all ui-btn ui-icon-back ui-btn-icon-notext ui-shadow" data-form="ui-icon" data-role="button" role="button" href="#">返回</a>
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1"></h1>
		<a class="ui-btn-right ui-btn-corner-all ui-btn ui-icon-star ui-btn-icon-notext ui-shadow"  data-form="ui-icon" data-role="button" role="button"> 收藏</a>
	</div>
	<div data-role="content">
		<h2><%=feed.title%></h2>
		<%=feed.content%>
	</div>
	</script>

	<script type="text/javascript"src="js/lib/jquery.js"></script>
    <script type="text/javascript"src="js/lib/jqmconfig.js"></script>
    <script type="text/javascript"src="js/lib/jquerymobile.js"></script>
    <script type="text/javascript"src="js/lib/underscore.js"></script> 
    <script type="text/javascript"src="js/lib/backbone.js"></script>
    <script type="text/javascript"src="js/lib/backbone.localStorage.js"></script>
    <script type="text/javascript"src="js/lib/moment.js"></script>
    <script type="text/javascript"src="js/lib/zh-cn.js"></script>
    <script type="text/javascript"src="js/app.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
				app_initial();
                app = new AppRouter();
                Backbone.history.start();
			});
    </script>



</body>
</html>